<!--
Chris Samuel



-->


<!DOCTYPE html>
<html ng-app> <!--the ng-app attribute tells angular which parts of the page it should manage since we placed it in the html tag its handling the whole page -->
<head>
    <title>Your Shopping Cart</title>
</head>

    <!-- LOAD BOOTSTRAP  CSS --->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- LOAD jQuery --->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Angular JS-->
    <script src="http://code.angularjs.org/1.2.7/angular.min.js"></script>
<script>
    //this function is our controller with out getting too much into detail
    // the controller is a directive creates a new scope!
    function CartController($scope) {
        $scope.movies = [{
            "Title": "21 & Over",
            "Release_Date": "01-Mar-13",
            "Genre": "Comedy",
            "Number of Discs": "1",
            "Price_Tier": "1",
            "Type": "Movie",
            "Summary": "The night before his big medical school interview, a promising student celebrates his 21st birthday with his two best friends.",
            "images": "0001.jpg",
            "Price": "1.75",
            "Quantity" : "0"

        },
            {
                "Title": "42",
                "Release_Date": "12-Apr-13",
                "Genre": "Biography/Drama/Sport",
                "Number of Discs": "1",
                "Price_Tier": "1",
                "Type": "Movie",
                "Summary": "The life story of Jackie Robinson and his history-making signing with the Brooklyn Dodgers under the guidance of team executive Branch Rickey.",
                "images": "0002.jpg",
                "Price": "1.75",
                "Quantity" : "0"
            },
            {
                "Title": "Alex Cross",
                "Release_Date": "19-Oct-12",
                "Genre": "Action/Crime/Mystery",
                "Number of Discs": "1",
                "Price_Tier": "1",
                "Type": "Movie",
                "Summary": "A homicide detective is pushed to the brink of his moral and physical limits as he tangles with a ferociously skilled serial killer who specializes in torture and pain.",
                "Price": "1.75",
                "Quantity" : "0"
            } ];
         $scope.remove = function(index) {
                $scope.movies.splice(index,1);
         }
    }

</script>
<!--When we place the controller in the body and the controller will manage everything in between the body tags-->
<body ng-controller="CartController">
<h1>Your Shopping Cart</h1>
<div ng-repeat='movie in movies'>
    <span>{{ movie.title }}</span>

    <input ng-model = "movie.Quantity">
    <span> {{ movie.Price | currency }}</span>
    <span> {{ movie.Price * movie.Quantity | currency }}</span>
    <button ng-click="remove($index)" >Remove</button>

</div>
</body>
</html>