<!--index.html-->


<!DOCTYPE html>

<head>
    <title> Angular Forms</title>

    <!-- LOAD BOOTSTRAP  CSS --->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- LOAD jQuery --->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- We will process our form here -->
    <script>
         // define angular module/app
        var formApp = angular.module('formApp', []);

        //create angular controller and pass in $scope and $http
           function formController($scope, $http) {

               // create a blank object to hold our form information
               // $scope will allow this  to pass between controller and view
               $scope.formData = {};


                //process the form
                $scope.processForm = function() {
                    $http({
                        method  : 'POST ',
                        url     : 'process.php',
                        data    : $.param($scope.formData), // pass in data as strings
                        // set the headers so angular passing info as form data (not)
                        headers : {'Content-Type': 'application/x-www-form-urlencoded' }
                    })

                            .success(function(data){
                                console.log(data);

                                if (!data.success){

                                    //if not successful, bind errors to error variables
                                    $scope.errorName = data.errors.name;
                                    $scope.errorfamilyMemberName = data.errors.familyMemberName;

                                } else {
                                    // if successful , bind sucess message to message
                                    $scope.message = data.message;
                                }
                            });

                };

               //now that we set up a formData object. Let's populate it with our form inputs. Before we had to explicitly call each input and get its
               // val(). Not anymore. we will use ng-model to bind a specific HTML input Element to a variable.
        }


    </script>
</head>
<body>

<div class="container">
    <div class="col-sm-6 col-s-offset-3">

        <!-- PAGE TITLE -->
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-tower"></span>Submitting Forms with Angular</h1>
        </div>


        <!-- SHOW ERROR/SUCCESS MESSAGES -->
        <div id="messages">{{ message }}</div>

        <!-- FORM -->
        <form ng-submit="processForm()">
            <!-- Name -->
            <div id="name-group" class="form-group" ng-class= "{'has-error' : errorName }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Battler" ng-model="formData.name">
                <span class="help-block" ng-show="errorName">{{ errorName }}</span>
            </div>
                <!-- Family MemberName -->
            <div id="familyMemberName" class="form-group" ng-class="{'has-error' : errorfamilyMemberName }">
                  <label>Family MemberName</label>
                  <input type="text" name="familyMemberName" class="form-control" placeholder="Utsunomiya" ng-model="formData.familyMemberName">
                <span class="help-block" ng-show="errorMembername">{{ errorMembername }}</span>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success btn-lg btn block">
                <span class"glyphicon glyphicon-flash"></span> Submit !
            </button>
                <br/>
            <!-- SHOW DATA INPUTS AS THEY ARE GETTING TYPED -->


            <pre> {{ formData }}</pre>
        </form>
</div>
    </div>
</div>
</body>

</html>